# Stock and Shares Notebook

In [ ]:
#import the requried libraries
#Financial data
import yfinance as yf

#Dates and times
import datetime as dt

In [17]:
tickers = yf.Tickers('MSFT AAPL GOOG XRP')

In [18]:
#Get data for Microsoft, Apple, Google and XRP
df = yf.download(['MSFT', 'AAPL', 'GOOG'], period="1d", interval="1m")

[*********************100%***********************]  3 of 3 completed

In [19]:
df.head()

Price                       Adj Close                               Close  \
Ticker                           AAPL        GOOG        MSFT        AAPL
Datetime
2024-11-21 14:30:00+00:00  229.375000  173.839996  417.350006  229.375000
2024-11-21 14:31:00+00:00  229.410004  173.421005  418.394989  229.410004
2024-11-21 14:32:00+00:00  228.900803  173.179993  417.875000  228.900803
2024-11-21 14:33:00+00:00  228.440002  172.134995  417.704987  228.440002
2024-11-21 14:34:00+00:00  228.800003  171.820099  417.494995  228.800003

Price                                                    High              \
Ticker                           GOOG        MSFT        AAPL        GOOG
Datetime
2024-11-21 14:30:00+00:00  173.839996  417.350006  229.919998  175.574997
2024-11-21 14:31:00+00:00  173.421005  418.394989  229.580002  174.490005
2024-11-21 14:32:00+00:00  173.179993  417.875000  229.425003  173.580002
2024-11-21 14:33:00+00:00  172.134995  417.704987  228.970001  173.184998
2024-11-21 14:34:00+00:00  171.820099  417.494995  228.910004  172.330002

Price                                         Low                          \
Ticker                           MSFT        AAPL        GOOG        MSFT
Datetime
2024-11-21 14:30:00+00:00  419.779999  228.699997  173.811996  417.250000
2024-11-21 14:31:00+00:00  418.670013  229.110001  173.220001  417.320007
2024-11-21 14:32:00+00:00  418.350006  228.850098  172.610001  417.480011
2024-11-21 14:33:00+00:00  418.320007  228.360001  172.070007  417.549988
2024-11-21 14:34:00+00:00  417.679993  228.259995  171.634995  417.269989

Price                            Open                             Volume  \
Ticker                           AAPL        GOOG        MSFT       AAPL
Datetime
2024-11-21 14:30:00+00:00  228.789993  175.479996  419.500000  2038382.0
2024-11-21 14:31:00+00:00  229.300003  173.899994  417.420013   147038.0
2024-11-21 14:32:00+00:00  229.395004  173.440094  418.350006   200864.0
2024-11-21 14:33:00+00:00  228.914993  173.160004  417.904999   132207.0
2024-11-21 14:34:00+00:00  228.410004  172.199997  417.644989   172526.0

Price
Ticker                       GOOG    MSFT
Datetime
2024-11-21 14:30:00+00:00  843845  641923
2024-11-21 14:31:00+00:00  197783  130729
2024-11-21 14:32:00+00:00  210049  108054
2024-11-21 14:33:00+00:00  202107  136217
2024-11-21 14:34:00+00:00  211957   63435

In [20]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'GOOG'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'GOOG'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'GOOG'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'GOOG'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'GOOG'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'GOOG'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [ ]:
#Get just the closing prices
df['Close']

Ticker                           AAPL        GOOG        MSFT
Datetime
2024-11-21 14:30:00+00:00  229.375000  173.839996  417.350006
2024-11-21 14:31:00+00:00  229.410004  173.421005  418.394989
2024-11-21 14:32:00+00:00  228.900803  173.179993  417.875000
2024-11-21 14:33:00+00:00  228.440002  172.134995  417.704987
2024-11-21 14:34:00+00:00  228.800003  171.820099  417.494995
...                               ...         ...         ...
2024-11-21 16:18:00+00:00  228.720001  166.389999  414.500000
2024-11-21 16:19:00+00:00  228.580002  166.279999  414.239990
2024-11-21 16:20:00+00:00  228.487000  166.259995  414.260010
2024-11-21 16:21:00+00:00  228.669998  166.460007  414.549988
2024-11-21 16:22:00+00:00         NaN  166.455994  414.614990

[112 rows x 3 columns]

In [23]:
#Get the current date and time
filename = dt.datetime.now()
#Create a string from the current date and time
filename = filename.strftime("%Y%m%d_%H%M%S")
#Add the filetype 
filename = 'data/' + filename + ".csv"
#Show the filename
filename

'data/20241121_162357.csv'

In [25]:
#Save the data to a CSV file
df['Close'].to_csv(filename)

## End